@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Estedad";
  src: url(/src/assets/Estedad.woff2) type("webfont");
}
html {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
}
body {
  font-family: Estedad;
  direction: rtl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
